<nb-card-body>
    <ngx-traffic-bar-chart [data]="trafficBarData.data"
                           [formatter]="trafficBarData.formatter"
                           [labels]="trafficBarData.labels">
    </ngx-traffic-bar-chart>
</nb-card-body>
