<nb-reveal-card [revealed]="revealed" [showToggleButton]="false">
    <nb-card-front>
        <nb-card size="small">
            <ngx-traffic-cards-header (periodChange)="setPeriodAngGetData($event)"
                                      [type]="period"></ngx-traffic-cards-header>
            <ngx-traffic-front-card [frontCardData]="trafficListData"></ngx-traffic-front-card>
            <nb-icon (click)="toggleView()" class="toggle-icon" icon="chevron-up-outline" pack="eva"></nb-icon>
        </nb-card>
    </nb-card-front>
    <nb-card-back>
        <nb-card size="small">
            <ngx-traffic-cards-header (periodChange)="setPeriodAngGetData($event)"
                                      [type]="period"></ngx-traffic-cards-header>
            <ngx-traffic-back-card [trafficBarData]="trafficBarData"></ngx-traffic-back-card>
            <nb-icon (click)="toggleView()" class="toggle-icon" icon="chevron-down-outline" pack="eva"></nb-icon>
        </nb-card>
    </nb-card-back>
</nb-reveal-card>
