<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                Layout Rotate Search
            </nb-card-header>
            <nb-card-body>
                <nb-search tag="rotate-layout" type="rotate-layout"></nb-search>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                Modal Zoomin Search
            </nb-card-header>
            <nb-card-body>
                <nb-search tag="modal-zoomin" type="modal-zoomin"></nb-search>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                Modal Move Search
            </nb-card-header>
            <nb-card-body>
                <nb-search tag="modal-move" type="modal-move"></nb-search>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                Modal Drop Search
            </nb-card-header>
            <nb-card-body>
                <nb-search tag="modal-drop" type="modal-drop"></nb-search>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                Modal Half Search
            </nb-card-header>
            <nb-card-body>
                <nb-search tag="modal-half" type="modal-half"></nb-search>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                Curtain Search
            </nb-card-header>
            <nb-card-body>
                <nb-search tag="curtain" type="curtain"></nb-search>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                Column Curtain Search
            </nb-card-header>
            <nb-card-body>
                <nb-search tag="column-curtain" type="column-curtain"></nb-search>
            </nb-card-body>
        </nb-card>
    </div>
</div>

