<nb-card size="large">
    <nb-tabset fullWidth>

        <nb-tab tabTitle="Temperature">

            <div class="slider-container">
                <ngx-temperature-dragger (power)="temperatureOff = !$event" [(value)]="temperature"
                                         [disableArcColor]="theme.arcEmpty" [fillColors]="theme.arcFill"
                                         [max]="temperatureData.max"
                                         [min]="temperatureData.min" [thumbBg]="theme.thumbBg"
                                         [thumbBorderColor]="theme.thumbBorder">

                    <div [ngClass]="{ 'off': temperatureOff }" class="slider-value-container">
                        <div class="value temperature h1">
                            {{ temperatureOff ? '--' : (temperature | ngxRound) }}
                        </div>
                        <div class="desc">
                            Celsius
                        </div>
                    </div>
                </ngx-temperature-dragger>
            </div>

            <nb-radio-group [(ngModel)]="temperatureMode" name="temperature-mode">
                <nb-radio value="cool">
                    <i class="nb-snowy-circled"></i>
                </nb-radio>
                <nb-radio value="warm">
                    <i class="nb-sunny-circled"></i>
                </nb-radio>
                <nb-radio value="heat">
                    <i class="nb-flame-circled"></i>
                </nb-radio>
                <nb-radio value="fan">
                    <i class="nb-loop-circled"></i>
                </nb-radio>
            </nb-radio-group>
        </nb-tab>

        <nb-tab tabTitle="Humidity">

            <div class="slider-container">
                <ngx-temperature-dragger (power)="humidityOff = !$event" [(value)]="humidity"
                                         [disableArcColor]="theme.arcEmpty" [fillColors]="theme.arcFill"
                                         [max]="humidityData.max"
                                         [min]="humidityData.min" [thumbBg]="theme.thumbBg"
                                         [thumbBorderColor]="theme.thumbBorder">

                    <div [ngClass]="{ 'off': humidityOff }" class="slider-value-container">
                        <div class="value humidity h1">
                            {{ humidityOff ? '--' : (humidity | ngxRound) }}
                        </div>
                    </div>
                </ngx-temperature-dragger>
            </div>

            <nb-radio-group [(ngModel)]="humidityMode" name="humidity-mode">
                <nb-radio value="cool">
                    <i class="nb-snowy-circled"></i>
                </nb-radio>
                <nb-radio value="warm">
                    <i class="nb-sunny-circled"></i>
                </nb-radio>
                <nb-radio value="heat">
                    <i class="nb-flame-circled"></i>
                </nb-radio>
                <nb-radio value="fan">
                    <i class="nb-loop-circled"></i>
                </nb-radio>
            </nb-radio-group>
        </nb-tab>
    </nb-tabset>
</nb-card>
