<nb-card>
    <nb-card-header>Google Maps with search</nb-card-header>
    <nb-card-body>
        <ngx-search (positionChanged)="setPosition($event)"></ngx-search>
        <ngx-map [searchedPosition]="searchedPosition"></ngx-map>
    </nb-card-body>
</nb-card>
