<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAEsAQMAAABDsxw2AAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAACJJREFUaN7twTEBAAAAwiD7pzbFPmAAAAAAAAAAAAAAAGQOLbQAAU3zwM4AAAAASUVORK5CYII=">

<div class="svg-container">
    <svg #svgRoot (mousedown)="mouseDown($event)" [attr.viewBox]="styles.viewBox"
         preserveAspectRatio="xMinYMin meet" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <defs>

            <filter [attr.id]="'blurFilter' + svgControlId" height="100%" width="100%" x="0" y="0">
                <feGaussianBlur [attr.stdDeviation]="styles.blurRadius" in="SourceGraphic"/>
                <feComponentTransfer>
                    <feFuncA tableValues="1 1" type="discrete"/>
                </feComponentTransfer>
            </filter>

            <clipPath [attr.id]="'sliderClip' + svgControlId">
                <path [attr.d]="styles.clipPathStr" stroke="black"></path>
            </clipPath>

        </defs>
        <g [attr.transform]="styles.arcTranslateStr">

            <g [attr.clip-path]="getUrlPath('#sliderClip')" class="toClip">
                <g [attr.filter]="getUrlPath('#blurFilter')" class="toFilter">
                    <path *ngFor="let arc of styles.gradArcs" [attr.d]="arc.d"
                          [attr.fill]="off ? styles.nonSelectedArc.color : arc.color"></path>
                </g>
                <!-- ngFor is a quirk fix for webkit rendering issues -->
                <path *ngFor="let number of [0,1,2,3,4,5]" [attr.d]="styles.nonSelectedArc.d"
                      [attr.fill]="styles.nonSelectedArc.color"></path>
            </g>

            <circle [attr.cx]="styles.thumbPosition.x"
                    [attr.cy]="styles.thumbPosition.y"
                    [attr.fill]="off ? 'none' : thumbBg"
                    [attr.r]="pinRadius"
                    [attr.stroke-width]="thumbBorder / scaleFactor"
                    [attr.stroke]="off ? 'none' : thumbBorderColor">
            </circle>
        </g>
    </svg>
</div>

<div class="temperature-bg">
    <ng-content></ng-content>
</div>

<button (click)="switchPower()" [class.on]="!off" appearance="ghost" class="power-bg" nbButton>
    <nb-icon class="power-icon" icon="power-outline" pack="eva"></nb-icon>
</button>
