<nb-card>
    <nb-card-header>Button With Spinner</nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xxxl-12">
                <button (click)="toggleLoadingLargeGroupAnimation()" [nbSpinner]="loadingLargeGroup" nbButton
                        nbSpinnerMessage=""
                        nbSpinnerSize="large" nbSpinnerStatus="success" size="large" status="success">
                    Download
                </button>

                <button (click)="toggleLoadingLargeGroupAnimation()" [nbSpinner]="loadingLargeGroup" nbButton
                        nbSpinnerMessage=""
                        nbSpinnerSize="large" nbSpinnerStatus="primary" size="large" status="primary">
                    Download
                </button>

                <button (click)="toggleLoadingLargeGroupAnimation()" [nbSpinner]="loadingLargeGroup" nbButton
                        nbSpinnerMessage=""
                        nbSpinnerSize="large" nbSpinnerStatus="warning" size="large" status="warning">
                    Download
                </button>
            </div>
            <div class="col-md-12 col-lg-12 col-xxxl-12 size-medium-group">
                <button (click)="toggleLoadingMediumGroupAnimation()" [nbSpinner]="loadingMediumGroup" nbButton
                        nbSpinnerMessage=""
                        nbSpinnerStatus="danger" size="medium" status="danger">
                    Download
                </button>

                <button (click)="toggleLoadingMediumGroupAnimation()" [nbSpinner]="loadingMediumGroup" nbButton
                        nbSpinnerMessage=""
                        nbSpinnerSize="small" nbSpinnerStatus="info" size="medium" status="info">
                    Download
                </button>

                <button (click)="toggleLoadingMediumGroupAnimation()" [nbSpinner]="loadingMediumGroup" nbButton
                        nbSpinnerMessage=""
                        nbSpinnerSize="tiny" nbSpinnerStatus="primary" size="medium" status="primary">
                    Download
                </button>
            </div>
        </div>
    </nb-card-body>
</nb-card>
