<nb-card size="xsmall">
    <nb-card-body>
        <nb-tabset (changeTab)="toggleLoadingAnimation()" fullWidth>
            <nb-tab [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="success" tabTitle="Tab 1">
                <p>
                    A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                    Originally, nebula was a name for any diffuse astronomical object.
                </p>
            </nb-tab>

            <nb-tab [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="info" tabTitle="Tab 2">
                <p>
                    Nebular's primary goal is to assemble together and connect the most awesome features and libraries
                    creating an efficient ecosystem to speed up and simplify the development.
                </p>
            </nb-tab>

        </nb-tabset>
    </nb-card-body>
</nb-card>
