<div class="row">
    <div class="col-md-12 col-lg-4 col-xxxl-4">
        <nb-card>
            <nb-card-header>Colored Alert</nb-card-header>
            <nb-card-body>
                <nb-alert status="primary">You have been successfully authenticated!</nb-alert>
                <nb-alert status="success">You have been successfully authenticated!</nb-alert>
                <nb-alert status="info">You have been successfully authenticated!</nb-alert>
                <nb-alert status="warning">You have been successfully authenticated!</nb-alert>
                <nb-alert status="danger">You have been successfully authenticated!</nb-alert>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-md-12 col-lg-4 col-xxxl-4">
        <nb-card>
            <nb-card-header>Outline Alert</nb-card-header>
            <nb-card-body>
                <nb-alert outline="primary">You have been successfully authenticated!</nb-alert>
                <nb-alert outline="success">You have been successfully authenticated!</nb-alert>
                <nb-alert outline="info">You have been successfully authenticated!</nb-alert>
                <nb-alert outline="warning">You have been successfully authenticated!</nb-alert>
                <nb-alert outline="danger">You have been successfully authenticated!</nb-alert>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-md-12 col-lg-4 col-xxxl-4">
        <nb-card>
            <nb-card-header>Accent Alert</nb-card-header>
            <nb-card-body>
                <nb-alert accent="info" status="primary">You have been successfully authenticated!</nb-alert>
                <nb-alert accent="danger" status="success">You have been successfully authenticated!</nb-alert>
                <nb-alert accent="warning" status="info">You have been successfully authenticated!</nb-alert>
                <nb-alert accent="danger" status="warning">You have been successfully authenticated!</nb-alert>
                <nb-alert accent="primary" status="danger">You have been successfully authenticated!</nb-alert>
            </nb-card-body>
        </nb-card>
    </div>
</div>
