<div class="row">
    <div class="col-md-12 col-lg-6 col-xxxl-4">
        <nb-card>
            <nb-card-header>Tooltip With Icon</nb-card-header>
            <nb-card-body>
                <button nbButton nbTooltip="This is a tooltip" nbTooltipIcon="home-outline">Show Tooltip</button>
                <button nbButton nbTooltip="" nbTooltipIcon="alert-triangle" nbTooltipStatus="danger">Show Tooltip
                </button>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-md-12 col-lg-6 col-xxxl-4">
        <nb-card>
            <nb-card-header>Tooltip Placements</nb-card-header>
            <nb-card-body>
                <button nbButton nbTooltip="This is a tooltip" nbTooltipPlacement="top">Top</button>
                <button nbButton nbTooltip="This is a tooltip" nbTooltipPlacement="right">Right</button>
                <button nbButton nbTooltip="This is a tooltip" nbTooltipPlacement="bottom">Bottom</button>
                <button nbButton nbTooltip="This is a tooltip" nbTooltipPlacement="left">Left</button>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-md-12 col-lg-6 col-xxxl-4">
        <nb-card>
            <nb-card-header>Colored Tooltips</nb-card-header>
            <nb-card-body>
                <button nbButton nbTooltip="This is a tooltip" nbTooltipPlacement="top">Default</button>
                <button nbButton nbTooltip="This is a tooltip" nbTooltipPlacement="top" nbTooltipStatus="primary">
                    Primary
                </button>
                <button nbButton nbTooltip="This is a tooltip" nbTooltipPlacement="top" nbTooltipStatus="success">
                    Success
                </button>
                <button nbButton nbTooltip="This is a tooltip" nbTooltipPlacement="top" nbTooltipStatus="danger">
                    Danger
                </button>
                <button nbButton nbTooltip="This is a tooltip" nbTooltipPlacement="top" nbTooltipStatus="info">Info
                </button>
                <button nbButton nbTooltip="This is a tooltip" nbTooltipPlacement="top" nbTooltipStatus="warning">
                    Warning
                </button>
            </nb-card-body>
        </nb-card>
    </div>
</div>
