<div class="visitors-statistics">
    <h4 class="h1">1,100</h4>
    <div class="visitors-title">New Visitors</div>
    <div class="statistics-chart">
        <div (chartInit)="onChartInit($event)"
             [options]="option"
             class="echart"
             echarts>
        </div>
    </div>
    <div class="statistics-footer">
        <div class="chart-values h5">
            <span class="chart-value">25%</span>
            <span class="chart-value">75%</span>
        </div>
        <ngx-legend-chart [legendItems]="chartLegend" class="visitors-statistics-legend"></ngx-legend-chart>
    </div>
</div>
