<nb-flip-card [flipped]="flipped" [showToggleButton]="false">
    <nb-card-front>
        <nb-card size="tiny">
            <ngx-stats-card-front></ngx-stats-card-front>
            <nb-icon (click)="toggleView()" class="flip-icon" icon="chevron-right-outline" pack="eva"></nb-icon>
        </nb-card>
    </nb-card-front>
    <nb-card-back>
        <nb-card size="tiny">
            <ngx-stats-card-back></ngx-stats-card-back>
            <nb-icon (click)="toggleView()" class="flip-icon" icon="chevron-right-outline" pack="eva"></nb-icon>
        </nb-card>
    </nb-card-back>
</nb-flip-card>
