<div class="row">
    <div class="col-lg-6">
        <nb-card size="small">
            <nb-card-header>Popover Position</nb-card-header>
            <nb-card-body>
                <p>When popover has not enough space based on the configured placement, it will adjust accordingly
                    trying to fit the screen.</p>
                <button nbButton nbPopover="Hello, how are you today?" nbPopoverPlacement="left" nbPopoverTrigger="hint"
                        status="danger">Left
                </button>
                <button nbButton nbPopover="Hello, how are you today?" nbPopoverPlacement="top" nbPopoverTrigger="hint"
                        status="danger">Top
                </button>
                <button nbButton nbPopover="Hello, how are you today?" nbPopoverPlacement="bottom"
                        nbPopoverTrigger="hint" status="danger">Bottom
                </button>
                <button nbButton nbPopover="Hello, how are you today?" nbPopoverPlacement="right"
                        nbPopoverTrigger="hint" status="danger">Right
                </button>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-lg-6">
        <nb-card size="small">
            <nb-card-header>Simple Popovers</nb-card-header>
            <nb-card-body>
                <p>In a simples form popover can take a string of text to render.</p>
                <button nbButton nbPopover="Hello, how are you today?" status="success">on click</button>
                <button nbButton nbPopover="Hello, how are you today?" nbPopoverTrigger="hover" status="success">on
                    hover
                </button>
                <button nbButton nbPopover="Hello, how are you today?" nbPopoverTrigger="hint" status="success">on
                    hint
                </button>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">

        <ng-template #tabs>
            <nb-tabset>
                <nb-tab tabTitle="What's up?">
                    <div class="p-4">
                        Such a wonderful day!
                    </div>
                </nb-tab>
                <nb-tab tabTitle="Second Tab">
                    <div class="p-4">
                        Indeed!
                    </div>
                </nb-tab>
            </nb-tabset>
        </ng-template>

        <ng-template #form>
            <div class="p-4">
                <form>
                    <div class="form-group">
                        <input class="form-control" placeholder="Recipients" type="text">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Subject" type="text">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Message"></textarea>
                    </div>
                    <button class="btn btn-primary w-100" type="submit">Send</button>
                </form>
            </div>
        </ng-template>

        <ng-template #card>
            <nb-card class="popover-card">
                <nb-card-header status="warning">
                    Hello!
                </nb-card-header>
                <nb-card-body>
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts.
                    Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                </nb-card-body>
            </nb-card>
        </ng-template>

        <nb-card size="small">
            <nb-card-header>Template Popovers</nb-card-header>
            <nb-card-body>
                <p>You can pass a refference to `ng-template` to be rendered.</p>
                <button [nbPopover]="tabs" nbButton status="warning">With tabs</button>
                <button [nbPopover]="form" nbButton status="warning">With form</button>
                <button [nbPopover]="card" nbButton status="warning">With card</button>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-lg-6">
        <nb-card size="small">
            <nb-card-header>Component Popovers</nb-card-header>
            <nb-card-body>
                <p>Same way popover can render any angular compnoent.</p>
                <button [nbPopover]="tabsComponent" nbButton status="warning">With tabs</button>
                <button [nbPopover]="formComponent" nbButton status="warning">With form</button>
                <button [nbPopover]="cardComponent" nbButton status="warning">With card</button>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>Event Debouncing</nb-card-header>
            <nb-card-body class="debounce-card">
                <p>Quickly move mouse cursor over the buttons, only the last popover will be created. It allows us to
                    avoid excess white improving page performance.</p>

                <button nbButton nbPopover="Popover!" nbPopoverTrigger="hint">
                    show hint
                </button>
                <button nbButton nbPopover="Popover!" nbPopoverTrigger="hint">
                    show hint
                </button>
                <button nbButton nbPopover="Popover!" nbPopoverTrigger="hint">
                    show hint
                </button>
                <button nbButton nbPopover="Popover!" nbPopoverTrigger="hint">
                    show hint
                </button>
                <button nbButton nbPopover="Popover!" nbPopoverTrigger="hint">
                    show hint
                </button>
                <button nbButton nbPopover="Popover!" nbPopoverTrigger="hint">
                    show hint
                </button>
                <button nbButton nbPopover="Popover!" nbPopoverTrigger="hint">
                    show hint
                </button>
                <button nbButton nbPopover="Popover!" nbPopoverTrigger="hint">
                    show hint
                </button>
                <button nbButton nbPopover="Popover!" nbPopoverTrigger="hint">
                    show hint
                </button>
                <button nbButton nbPopover="Popover!" nbPopoverTrigger="hint">
                    show hint
                </button>
                <button nbButton nbPopover="Popover!" nbPopoverTrigger="hint">
                    show hint
                </button>
                <button nbButton nbPopover="Popover!" nbPopoverTrigger="hint">
                    show hint
                </button>
                <button nbButton nbPopover="Popover!" nbPopoverTrigger="hint">
                    show hint
                </button>
                <button nbButton nbPopover="Popover!" nbPopoverTrigger="hint">
                    show hint
                </button>
                <button nbButton nbPopover="Popover!" nbPopoverTrigger="hint">
                    show hint
                </button>
                <button nbButton nbPopover="Popover!" nbPopoverTrigger="hint">
                    show hint
                </button>
            </nb-card-body>
        </nb-card>
    </div>
</div>
