<nb-card-header>
    <span>Traffic</span>
    <nb-select (selectedChange)="changePeriod($event)" [selected]="type">
        <nb-option *ngFor="let period of types" [value]="period">{{ period }}</nb-option>
    </nb-select>
</nb-card-header>
