<nb-card>
    <nb-card-header>
        Toaster configuration
    </nb-card-header>
    <nb-card-body>

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label class="label">Position:</label>
                    <nb-select [(selected)]="position" class="position-select">
                        <nb-option *ngFor="let p of positions" [value]="p">{{ p }}</nb-option>
                    </nb-select>
                </div>

                <div class="form-group">
                    <label class="label">Title:</label>
                    <input [(ngModel)]="title" name="title" nbInput>
                </div>

                <form>
                    <div class="form-group">
                        <label class="label">Content:</label>
                        <input [(ngModel)]="content" name="content" nbInput>
                    </div>
                </form>

                <div class="form-group">
                    <label class="label">Time to hide toast, ms. 0 to persistent toast:</label>
                    <input [(ngModel)]="duration" name="timeout" nbInput type="number">
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label class="label">Toast type:</label>
                    <nb-select [(selected)]="status">
                        <nb-option *ngFor="let t of types" [value]="t">{{ t }}</nb-option>
                    </nb-select>
                </div>

                <div>
                    <nb-checkbox [(ngModel)]="destroyByClick">Hide on click</nb-checkbox>
                </div>
                <div>
                    <nb-checkbox [(ngModel)]="preventDuplicates">Prevent arising of duplicate toast</nb-checkbox>
                </div>
                <div>
                    <nb-checkbox [(ngModel)]="hasIcon">Show toast with icon</nb-checkbox>
                </div>
            </div>
        </div>
    </nb-card-body>

    <nb-card-footer>
        <button (click)="makeToast()" nbButton>Show toast</button>
        <button (click)="openRandomToast()" nbButton status="success">Random toast</button>
    </nb-card-footer>
</nb-card>
