<nb-card>
    <nb-card-header>
        Smart Table
    </nb-card-header>

    <nb-card-body>
        <ng2-smart-table (deleteConfirm)="onDeleteConfirm($event)" [settings]="settings" [source]="source">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>
