<div class="row">
    <div class="col-md-12 col-lg-4 col-xxxl-4">
        <nb-card>
            <nb-card-header>Common Datepicker</nb-card-header>
            <nb-card-body>
                <input [nbDatepicker]="formpicker"
                       nbInput
                       placeholder="Form Picker">
                <nb-datepicker #formpicker></nb-datepicker>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-md-12 col-lg-4 col-xxxl-4">
        <nb-card>
            <nb-card-header>Datepicker With Range</nb-card-header>
            <nb-card-body>
                <input [nbDatepicker]="rangepicker" nbInput placeholder="Range Picker">
                <nb-rangepicker #rangepicker></nb-rangepicker>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-12 col-lg-4 col-xxxl-4">
        <nb-card>
            <nb-card-header>Datepicker With Disabled Min Max Values</nb-card-header>
            <nb-card-body>
                <input [nbDatepicker]="picker" nbInput placeholder="Min Max Picker">
                <nb-datepicker #picker [max]="max" [min]="min"></nb-datepicker>
            </nb-card-body>
        </nb-card>
    </div>
</div>
