<nb-card>
    <nb-card-header>Room Management</nb-card-header>
    <div class="room-selector">
        <svg [attr.viewBox]="viewBox"
             preserveAspectRatio="xMidYMid" xmlns="http://www.w3.org/2000/svg">
            <defs>

                <filter height="200%" id="f2" width="200%" x="-50%" y="-50%">
                    <feGaussianBlur in="StrokePaint" result="blurOut" stdDeviation="3"/>
                </filter>

                <pattern data-name="New Pattern Swatch 1" height="60" id="New_Pattern_Swatch_1"
                         patternUnits="userSpaceOnUse"
                         viewBox="0 0 60 60" width="60">
                    <line class="stroke-pattern" x1="-113.26" x2="3.26" y1="123.26" y2="6.74"/>
                    <line class="stroke-pattern" x1="-103.26" x2="13.26" y1="133.26" y2="16.74"/>
                    <line class="stroke-pattern" x1="-93.26" x2="23.26" y1="143.26" y2="26.74"/>
                    <line class="stroke-pattern" x1="-83.26" x2="33.26" y1="153.26" y2="36.74"/>
                    <line class="stroke-pattern" x1="-73.26" x2="43.26" y1="163.26" y2="46.74"/>
                    <line class="stroke-pattern" x1="-63.26" x2="53.26" y1="173.26" y2="56.74"/>
                    <line class="stroke-pattern" x1="-53.26" x2="63.26" y1="123.26" y2="6.74"/>
                    <line class="stroke-pattern" x1="-43.26" x2="73.26" y1="133.26" y2="16.74"/>
                    <line class="stroke-pattern" x1="-33.26" x2="83.26" y1="143.26" y2="26.74"/>
                    <line class="stroke-pattern" x1="-23.26" x2="93.26" y1="153.26" y2="36.74"/>
                    <line class="stroke-pattern" x1="-13.26" x2="103.26" y1="163.26" y2="46.74"/>
                    <line class="stroke-pattern" x1="-3.26" x2="113.26" y1="173.26" y2="56.74"/>
                    <line class="stroke-pattern" x1="6.74" x2="123.26" y1="123.26" y2="6.74"/>
                    <line class="stroke-pattern" x1="16.74" x2="133.26" y1="133.26" y2="16.74"/>
                    <line class="stroke-pattern" x1="26.74" x2="143.26" y1="143.26" y2="26.74"/>
                    <line class="stroke-pattern" x1="36.74" x2="153.26" y1="153.26" y2="36.74"/>
                    <line class="stroke-pattern" x1="46.74" x2="163.26" y1="163.26" y2="46.74"/>
                    <line class="stroke-pattern" x1="56.74" x2="173.26" y1="173.26" y2="56.74"/>
                    <line class="stroke-pattern" x1="-113.26" x2="3.26" y1="63.26" y2="-53.26"/>
                    <line class="stroke-pattern" x1="-103.26" x2="13.26" y1="73.26" y2="-43.26"/>
                    <line class="stroke-pattern" x1="-93.26" x2="23.26" y1="83.26" y2="-33.26"/>
                    <line class="stroke-pattern" x1="-83.26" x2="33.26" y1="93.26" y2="-23.26"/>
                    <line class="stroke-pattern" x1="-73.26" x2="43.26" y1="103.26" y2="-13.26"/>
                    <line class="stroke-pattern" x1="-63.26" x2="53.26" y1="113.26" y2="-3.26"/>
                    <line class="stroke-pattern" x1="-53.26" x2="63.26" y1="63.26" y2="-53.26"/>
                    <line class="stroke-pattern" x1="-43.26" x2="73.26" y1="73.26" y2="-43.26"/>
                    <line class="stroke-pattern" x1="-33.26" x2="83.26" y1="83.26" y2="-33.26"/>
                    <line class="stroke-pattern" x1="-23.26" x2="93.26" y1="93.26" y2="-23.26"/>
                    <line class="stroke-pattern" x1="-13.26" x2="103.26" y1="103.26" y2="-13.26"/>
                    <line class="stroke-pattern" x1="-3.26" x2="113.26" y1="113.26" y2="-3.26"/>
                    <line class="stroke-pattern" x1="6.74" x2="123.26" y1="63.26" y2="-53.26"/>
                    <line class="stroke-pattern" x1="16.74" x2="133.26" y1="73.26" y2="-43.26"/>
                    <line class="stroke-pattern" x1="26.74" x2="143.26" y1="83.26" y2="-33.26"/>
                    <line class="stroke-pattern" x1="36.74" x2="153.26" y1="93.26" y2="-23.26"/>
                    <line class="stroke-pattern" x1="46.74" x2="163.26" y1="103.26" y2="-13.26"/>
                    <line class="stroke-pattern" x1="56.74" x2="173.26" y1="113.26" y2="-3.26"/>
                    <line class="stroke-pattern" x1="-113.26" x2="3.26" y1="3.26" y2="-113.26"/>
                    <line class="stroke-pattern" x1="-103.26" x2="13.26" y1="13.26" y2="-103.26"/>
                    <line class="stroke-pattern" x1="-93.26" x2="23.26" y1="23.26" y2="-93.26"/>
                    <line class="stroke-pattern" x1="-83.26" x2="33.26" y1="33.26" y2="-83.26"/>
                    <line class="stroke-pattern" x1="-73.26" x2="43.26" y1="43.26" y2="-73.26"/>
                    <line class="stroke-pattern" x1="-63.26" x2="53.26" y1="53.26" y2="-63.26"/>
                    <line class="stroke-pattern" x1="-53.26" x2="63.26" y1="3.26" y2="-113.26"/>
                    <line class="stroke-pattern" x1="-43.26" x2="73.26" y1="13.26" y2="-103.26"/>
                    <line class="stroke-pattern" x1="-33.26" x2="83.26" y1="23.26" y2="-93.26"/>
                    <line class="stroke-pattern" x1="-23.26" x2="93.26" y1="33.26" y2="-83.26"/>
                    <line class="stroke-pattern" x1="-13.26" x2="103.26" y1="43.26" y2="-73.26"/>
                    <line class="stroke-pattern" x1="-3.26" x2="113.26" y1="53.26" y2="-63.26"/>
                    <line class="stroke-pattern" x1="6.74" x2="123.26" y1="3.26" y2="-113.26"/>
                    <line class="stroke-pattern" x1="16.74" x2="133.26" y1="13.26" y2="-103.26"/>
                    <line class="stroke-pattern" x1="26.74" x2="143.26" y1="23.26" y2="-93.26"/>
                    <line class="stroke-pattern" x1="36.74" x2="153.26" y1="33.26" y2="-83.26"/>
                    <line class="stroke-pattern" x1="46.74" x2="163.26" y1="43.26" y2="-73.26"/>
                    <line class="stroke-pattern" x1="56.74" x2="173.26" y1="53.26" y2="-63.26"/>
                </pattern>
            </defs>

            <g>
                <path *ngFor="let border of roomSvg.borders" [attr.d]="border.d" class="room-border"/>
            </g>

            <g>
                <path *ngFor="let strokedArea of roomSvg.stokedAreas"
                      [attr.d]="strokedArea.d"
                      [attr.fill]="getUrlPath('#New_Pattern_Swatch_1')" class="stroked-element"/>
            </g>

            <g *ngFor="let room of sortedRooms" [attr.id]="room.id" [class.selected-room]="selectedRoom == room.id">
                <path (click)="selectRoom(room.id)" [attr.d]="room.area.d"
                      [style.filter]="isIE || isFirefox ? 'inherit': ''" class="room-bg"/>
                <path [attr.d]="room.border.d" class="room-border"/>
                <path [attr.d]="room.border.d" [style.filter]="isIE || isFirefox ? 'inherit': ''"
                      class="room-border room-border-glow"/>
                <text (click)="selectRoom(room.id)" [attr.x]="room.name.x" [attr.y]="room.name.y"
                      class="room-text" text-anchor="middle">{{room.name.text}}</text>
            </g>
        </svg>
    </div>
</nb-card>
