<nb-card>
    <nb-card-header>Google Maps</nb-card-header>
    <nb-card-body>
        <google-map [center]="position" [zoom]="8" height="36.5625rem" width="100%">
            <map-marker [position]="position"></map-marker>
        </google-map>
    </nb-card-body>
</nb-card>
