<nb-card>
    <nb-card-header class="header">My Playlist</nb-card-header>

    <nb-card-body class="body">
        <div class="track-info">
            <div class="cover" style.background-image="url('{{track.cover}}')"></div>
            <div class="details">
                <h4 [class.subtitle]="collapsed">{{ track.name }}</h4>
                <span>{{ track.artist }}</span>
            </div>
        </div>

        <div class="progress-wrap">
            <input #duration (input)="setProgress(duration.value)" [value]="getProgress()" class="progress" dir="ltr"
                   max="100" min="0"
                   step="0.01" type="range">
            <div [style.width.%]="getProgress()" class="progress-foreground"></div>
        </div>

        <div class="timing">
            <small class="current">{{ player.currentTime | timing }}</small>
            <small class="remaining">- {{ player.duration - player.currentTime | timing }}</small>
        </div>

        <div class="controls">
            <button (click)="toggleShuffle()" [class.on]="shuffle" class="control-button" ghost nbButton size="tiny">
                <nb-icon icon="shuffle-2-outline" pack="eva"></nb-icon>
            </button>
            <button (click)="prev()" class="control-button" ghost nbButton size="medium">
                <nb-icon class="skip" icon="skip-back-outline" pack="eva"></nb-icon>
            </button>
            <button (click)="playPause()" class="control-button play-button" ghost nbButton size="medium">
                <nb-icon [icon]="player.paused ? 'play-circle-outline' : 'pause-circle-outline'" class="play"
                         pack="eva">
                </nb-icon>
            </button>
            <button (click)="next()" class="control-button skip-forward-button" ghost nbButton size="medium">
                <nb-icon class="skip" icon="skip-forward-outline" pack="eva"></nb-icon>
            </button>
            <button (click)="toggleLoop()" [class.on]="player.loop" class="control-button" ghost nbButton size="tiny">
                <nb-icon icon="repeat-outline" pack="eva"></nb-icon>
            </button>
        </div>
    </nb-card-body>

    <nb-card-footer class="footer">
        <div class="volume">
            <button (click)="setVolume(0)" ghost nbButton size="small">
                <nb-icon class="volume-icon" icon="volume-down-outline" pack="eva"></nb-icon>
            </button>
            <div class="progress-wrap">
                <input #volume (input)="setVolume(volume.value)" [value]="getVolume()" class="progress"
                       max="100" type="range">
                <div [style.width.%]="getVolume()" class="progress-foreground"></div>
            </div>
            <button (click)="setVolume(100)" ghost nbButton size="small">
                <nb-icon class="volume-icon" icon="volume-up-outline" pack="eva"></nb-icon>
            </button>
        </div>
    </nb-card-footer>
</nb-card>
